body {
    font-family: 'Avenir', 'sans-serif';
    background-color: #2a301c;
}

header {
    display: flex;
    flex-direction: row;
}

#topContainer {
    display: flex;
    flex-direction: column;
}

#companyBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 12px;
    background-color: #492d4e;
}

main {
    margin-top: 30px;
}

header div {
    margin: auto;
}

.groupBox {
    padding: 10px;
}

#narative {
    border-radius: 12px;
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: #8db6c9;
    padding: 50px;
}

#narative p {
    padding: 10px;
    font-size: 11px;
    height: auto;
    width: auto;
    background-color: #9b9b9b;
    color: #000000;
}

#scems, #doctorsAppointments, #customPatients {
    border-radius: 12px;
    padding: 25px;
    text-align: center;
}

#scems {
    background-color: #a841416c;
}

#doctorsAppointments {
    background: #6b6666;
}

#customPatients {
    background-color: #4760a5 ;
}

.title {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

#instructions {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: 30px;
    background-color: #bbb95a;
    padding: 20px;
    border-radius: 12px;
}

#instructions p {
    font-size: 13px;
}

.button {
    width: 80px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 12px;
    background-color: #e0e0e0;
}

@media only screen and (max-width: 600px) {
        
    header {
        display: flex;
        flex-direction: column;
    }

    #narative {
        border-radius: 12px;
        margin: auto;
        width: 450px;
        height: fit-content;
        background-color: #8db6c9;
        padding: none;
    }

    #narative p {
        font-size: 11px;
        height: auto;
        width: 450px;
    }
}

